/* triggers stile */
.trigger {
    position: absolute;
    margin-top: 1px;
    text-shadow: 0 1px 1px #ccc;
    overflow: hidden;
    text-align: center;
}

.trigger > span {
    -webkit-transition: none !important;
    transition: none !important;

}

.trigger span span {
    display: inline-block;
    background: #eee;
    cursor: pointer;
    font-size: .8em;
    padding: .25em .75em .5em;
}

@media print {
    .trigger {
        display: none;
    }
}

/* lang switching */
.trigger.lng {
    position: absolute;
    bottom: 0;
    left: 0;
}

.trigger.lng span span {
    border-radius: 7px 7px 0 0;
    width: auto;
}

html[lang=en] .hide [lang=en].show,
html[lang=en] .show [lang=en].hide,
html[lang=ru] .hide [lang=ru].show,
html[lang=ru] .show [lang=ru].hide,
html[lang] [lang] {
    position: absolute;
    opacity: 0;
    left: -200%;
    -webkit-transition: all .5s;
    transition: all .5s;
}

html[lang=en] [lang=en],
html[lang=ru] [lang=ru] {
    position: static;
    opacity: 1;
    left: auto;
}

/* folder switching */
.trigger.folder {
    right: 0;
    top: 100%;
    margin-top: 1px;
}

.trigger.folder span span {
    border-radius: 0 0 7px 7px;
}

[lang=en] .trigger.folder span span {
    width: 4.5em;
}

[lang=ru] .trigger.folder span span {
    width: 7.5em;
}

/* common styles */
body {
    margin: 0;
    background: #fff;
    font-family: 'PT Serif', serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #333;
    border-bottom: 1px solid #999;
    transition: all .2s;
}

a:hover {
    color: #666;
    border-color: #ccc;
}

@media print {
    body {
        font-size: .85em;
    }

    a {
        border-bottom: none;
    }

    a:after {
        content: attr(data-link);
        font-size: .83em;
        margin-left: .3em;
        color: #666;
    }
}

/* header section */
header {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px dashed #ccc;
    position: relative;
}
.flyout-ready header {
    position: fixed;
    top: 0;
    right: 1em;
    left: 1em;
}

header img {
    display: block;
    border: .2em solid #ccc;
    border-radius: 100%;
    height: 100px;
    transition: all .33s;
    margin: 0 auto;
}

header img:hover {
    height: 200px;
    /*margin-left: -50px;*/
}

header.flyout img,
header.flyout img:hover{height: 100px;}

.flyout-ready header img{
    /*position: absolute;*/
}

h1 {
    font-weight: normal;
    font-size: 2em;
    line-height: 1;
}

header ul, header li, header li span {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 1;
}

header li {
    margin-right: 1em;
    white-space: nowrap;
    padding-bottom: .5em;
}

header li > span:after {
    content: ':';
}

@media print {
    header {
        text-align: left;
    }

    h1 {
        font-weight: normal;
        font-size: 1.5em;
        line-height: 1;
    }

    header img {
        float: right;
        border: none;
        border-radius: 0;
        height: 150px;
        transition: none;
    }

    header dl {
        font-size: .85em;
    }

    header dt {
        float: left;
        clear: left;
        margin-right: .33em;
    }

    header dd {
        display: block;
    }
}

/* toc */
nav{
    display: block;
    clear: both;
    border: 1px solid red;
    margin: 0 1em;
}

/* sections */
main{margin: 0 1em}
section {
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all .25s;
    transition: all .25s;
}

section h3:first-child + h3,
section h3:first-child {
    margin-top: 0;
}

input:checked + section {
    opacity: 0;
    max-height: 0 !important;
}

h2 {
    display: block;
    clear: both;

}

h2 label {
    cursor: pointer;
}

h2 + input {
    display: none;
}

section dl,
section ul {
    margin: 0
}

section dd {
    margin: 0 0 1em 1em;

}

section.onerow dt {
    float: left;
    clear: left;
    margin-left: 1em;
}

section.onerow dt:after {
    content: ':';
}

section.onerow dd {
    display: block;
    padding-left: .3em;
    overflow: hidden;
    margin-bottom: 0;
}

section p {
    margin: 0;
}

@media screen and (min-width: 1201px) {
    article {
        float: left;
        width: 32.5%;
        margin-right: 1.25%;
    }

    article:nth-child(3n) {
        margin-right: 0;
    }

    article:nth-child(3n + 1) {
        clear: left;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px){
    article {
        float: left;
        width: 49%;
    }

    article:nth-child(2n - 1) {
        clear: left;
        margin-right: 2%;
    }
}

footer {
    text-align: right;
    font-size: .7em;
    clear: both;
    padding-top: 1em;
}

footer dl,
footer dt,
footer dd {
    display: inline;
    margin: 0;
}

footer dt:after {
    content: ':';
}

