/* lang selection */
.lng {
    position: absolute;
    top: 0;
    left: 0;
}

html[lang] [lang] {
    display: none;
}

html[lang=en] [lang=en],
html[lang=ru] [lang=ru] {
    display: inherit;
}

html[lang=en] .hide [lang=en].show,
html[lang=en] .show [lang=en].hide,
html[lang=ru] .hide [lang=ru].show,
html[lang=ru] .show [lang=ru].hide {
    display: none;
}

.hide .hide,
.show .show {
    display: inherit;
}

/* common styles */
body {
    margin: 1em;
    background: #fff;
    font-family: 'PT Serif', serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #333;
    border-bottom: 1px solid #999;
    transition: all .2s;
}

a:hover {
    color: #666;
    border-color: #ccc;
}

/* header section */
header {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 1em;
}

header img {
    margin: 0 auto;
    display: block;
    border: .2em solid #ccc;
    border-radius: 100%;
    height: 100px;
    transition: all .33s;
}

header img:hover {
    height: 199px;
}

h1 {
    font-weight: normal;
    font-size: 2em;
    line-height: 1;
    text-align: center;
}

header dl, header dt, header dd {
    margin: 0;
    display: inline-block;
}

header dt:after {
    content: ':';
}

header dd {
    margin-right: 1em;
}

/* sections */
section{
    overflow: hidden;
    transition: all .5s;
}
input:checked + section{
    max-height: 0 !important;
}

h2 {

}
h2 + input {display: none;}

section dl,
section ul{margin: 0}

