/* switchers common */
.hide .hide,
.show .show {
    display: inherit;
}

/* lang switching */
.lng {
    position: absolute;
    top: 0;
    left: 0;
}

html[lang] [lang] {
    display: none;
}

html[lang=en] [lang=en],
html[lang=ru] [lang=ru] {
    display: inherit;
}

html[lang=en] .hide [lang=en].show,
html[lang=en] .show [lang=en].hide,
html[lang=ru] .hide [lang=ru].show,
html[lang=ru] .show [lang=ru].hide {
    display: none;
}

/* folder switching */
.folder {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 1px;
}

.folder span span {
    display: inline-block;
    background: #eee;
    width: 8.5em;
    cursor: pointer;
    font-size: .8em;
    padding: .25em .75em .3em;
    border-radius: 0 0 7px 7px;
}
.folder:before{
    content: '';
    position: absolute;
    bottom:0;
    left:50%;
    margin: 0 0 -4px -4px;
    display: block;
    background-color: #fff;
    width: 8px;
    height: 8px;
    transition: all .5s;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.folder.show:before{background-color: #eee;}

[lang=en] .folder span span {
    width: 4.5em;
}

[lang=ru] .folder span span {
    width: 7.5em;
}

/* common styles */
body {
    margin: 1em;
    background: #fff;
    font-family: 'PT Serif', serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #333;
    border-bottom: 1px solid #999;
    transition: all .2s;
}

a:hover {
    color: #666;
    border-color: #ccc;
}

/* header section */
header {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 1em;
    position: relative;
}

header img {
    margin: 0 auto;
    display: block;
    border: .2em solid #ccc;
    border-radius: 100%;
    height: 100px;
    transition: all .33s;
}

header img:hover {
    height: 199px;
}

h1 {
    font-weight: normal;
    font-size: 2em;
    line-height: 1;
    text-align: center;
}

header dl, header dt, header dd {
    margin: 0;
    display: inline-block;
}

header dt:after {
    content: ':';
}

header dd {
    margin-right: 1em;
}

/* sections */
section {
    overflow: hidden;
    transition: all .5s;
}

input:checked + section {
    max-height: 0 !important;
}

h2 {
    display: block;
    clear: both;

}
h2 label{cursor: pointer;}

h2 + input {
    display: none;
}

section dl,
section ul {
    margin: 0
}
section dd {
    margin-bottom: 1em;
}
section p{margin: 0;}

@media screen and (min-width: 701px){
    .half{float: left;
    width: 45%;}
    .half + .half{margin-left: 5%;}
}

}
