/* css reset */
body {
  margin: 0;
  overflow: hidden;
}
/* imports */
/* mixins */
/* style language selector */
[lang=en] nav a[href*=en] {
  border-color: rgba(0, 0, 0, 0.25);
}
[lang=en] nav a[href*=en]:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
[lang=ru] nav a[href*=ru] {
  border-color: rgba(0, 0, 0, 0.25);
}
[lang=ru] nav a[href*=ru]:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/* style navigation */
nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: table;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  -webkit-transition: all 1s;
  -khtml-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
nav div {
  display: table-cell;
  background: #eee;
  vertical-align: middle;
  text-align: center;
  line-height: 5em;
}
nav a {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 12.5%;
  padding: 0 3em;
  border: 2px solid #eee;
  background: #fff;
  color: #333;
  text-decoration: none;
  font: bold 1.2em/2.5em sans-serif;
  -webkit-transition: all 0.33s;
  -khtml-transition: all 0.33s;
  -moz-transition: all 0.33s;
  transition: all 0.33s;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
[lang] nav {
  min-height: 0;
}
[lang] nav a {
  margin: 0 .5em;
}
/* style article */
article {
  position: absolute;
  top: 5em;
  bottom: 0;
  left: 100%;
  width: 100%;
  padding: .33em 1em;
  z-index: 0;
  display: block;
  overflow: auto;
  box-sizing: border-box;
  -webkit-transition: all 1s;
  -khtml-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
[lang] article {
  left: 0;
}
article table {
  border-collapse: collapse;
  text-align: left;
}
article table td,
article table th {
  padding: .33em .66em;
  border-top: 1px solid #eee;
  font-weight: normal;
}
article table td[colspan],
article table th[colspan] {
  font-weight: bold;
  border: none;
  background: #eee;
}
article table thead td,
article table thead th {
  font-style: italic;
  font-size: .82em;
  border: none;
}
