@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin,cyrillic);
/* imports */
/* css reset */
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
/* mixins */
/* style language selector */
[lang=en] nav a[href*=en] {
  background: #fff;
  color: #333;
  border-color: #ccc;
  cursor: default;
}
[lang=en] nav a[href*=en]:hover {
  background: #fff;
}
[lang=ru] nav a[href*=ru] {
  background: #fff;
  color: #333;
  border-color: #ccc;
  cursor: default;
}
[lang=ru] nav a[href*=ru]:hover {
  background: #fff;
}
/* style navigation */
nav {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  box-sizing: border-box;
}
nav a {
  display: table-cell;
  box-sizing: border-box;
  padding: 0 1em;
  border: 1px solid transparent;
  background: #ccc;
  color: #eee;
  text-decoration: none;
  font: bold 0.8em/1.5 sans-serif;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
/* style article section */
article {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  clear: both;
  box-sizing: border-box;
  padding: 0 2.5vw;
  width: 100%;
  overflow: auto;
  -webkit-transition: all 0.5s;
  -khtml-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  /* style article content */
}
article [data-name] {
  position: relative;
  text-align: center;
}
article h1,
article h2 {
  margin: 0;
  padding: .33em 0;
}
article h1 {
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}
article h2 {
  font-weight: 500;
  text-align: right;
}
article input {
  position: absolute;
  display: none;
}
article table {
  border-collapse: collapse;
  text-align: left;
}
article table td,
article table th {
  padding: .33em .66em;
  border-top: 1px solid #eee;
  font-weight: normal;
}
article table td[colspan],
article table th[colspan] {
  border: none;
  background: #eee;
  font-weight: bold;
}
article table th {
  padding-left: 0;
}
article table td:last-child {
  padding-right: 0;
}
article table thead td,
article table thead th {
  border: none;
  font-style: italic;
  font-size: .82em;
}
article [data-name='contact'] section,
article [data-name='addon'] section,
article [data-name='contact'] div,
article [data-name='addon'] div,
article [data-name='contact'] h2,
article [data-name='addon'] h2,
article [data-name='contact'] p,
article [data-name='addon'] p {
  display: inline-block;
  margin: 0;
  vertical-align: baseline;
  font-size: 1em;
}
article [data-name='contact'] section,
article [data-name='addon'] section {
  padding: .165em 0;
}
article [data-name='contact'] h2,
article [data-name='addon'] h2 {
  margin: 0;
  padding-right: .33em;
}
article [data-name='contact'] h2:after,
article [data-name='addon'] h2:after {
  content: ':';
}
article [data-name='contact'] section,
article [data-name='addon'] section {
  margin: 0 .66em;
}
article [data-name='section'] {
  padding-top: 2em;
}
article [data-name='section'] label {
  position: relative;
  display: block;
  padding: 0 1vw;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
article [data-name='section'] label:before {
  display: block;
  content: attr(data-title);
}
article [data-name='section'] label:after {
  display: none;
  width: 1em;
  height: 1em;
  background: red;
  color: #fff;
  content: '\00D7';
  font-size: 1.5em;
  line-height: .85em;
  position: absolute;
  right: 0;
  top: 0;
}
article [data-name='section'] > section {
  display: inline-block;
  overflow: hidden;
  margin: 0 0 .3% .3%;
  background: #eee;
  vertical-align: top;
  text-align: left;
}
article [data-name='section'] > section > div {
  display: none;
  box-sizing: border-box;
  padding: 0 1em;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  overflow: auto;
}
article [data-name='section'] > section > div h3 {
  display: inline-block;
  margin: 1em .33em 0 0;
}
article [data-name='section'] > section > div h3 + p {
  display: inline;
}
article [data-name='section'] > section input:checked + label {
  width: auto;
  height: auto;
}
article [data-name='section'] > section input:checked + label + div {
  display: block;
}
article [data-name='section'] > section input:checked + label:after {
  display: block;
}
footer[data-name] {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 .33em;
  font-size: .6em;
}
