/* imports */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin,cyrillic);
@import "for";

/* css reset */
html, body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* mixins */
.vendor(@property, @value) {
  -webkit-@{property}: @value;
  -khtml-@{property}: @value;
  -moz-@{property}: @value;
  @{property}: @value;
}

/* style language selector */
@langs: 'en', 'ru';
.for(@langs);
.-each(@lang) {
  @name: e(@lang);

  [lang=@{name}] nav a[href*=@{name}] {
    background: #fff;
    color: #333;
    border-color: #ccc;
    cursor: default;
    //    border-color: rgba(0, 0, 0, .25);

    &:hover {
      background: #fff;
    }
  }
}

/* style navigation */
nav {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  box-sizing: border-box;

  a {
    display: table-cell;
    box-sizing: border-box;
    padding: 0 1em;
    border: 1px solid transparent;
    background: #ccc;
    color: #eee;
    text-decoration: none;
    font: bold .8em/1.5 sans-serif;

    &:hover {
      background-color: rgba(0, 0, 0, .25);
    }
  }
}

/* style article section */
article {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  clear: both;
  box-sizing: border-box;
  padding: 0 2.5vw;
  width: 100%;
  overflow: auto;
  .vendor(transition, all .5s);

  [data-name] {
    //position: relative;
    text-align: center;
  }

  /* style article content */
  h1, h2 {
    margin: 0;
    padding: .33em 0;
  }

  h1 {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
  }
  h2 {
    font-weight: 500;
    text-align: right;
  }
  input {
    position: absolute;
    display: none;
  }

  table {
    border-collapse: collapse;
    text-align: left;

    td, th {
      padding: .33em .66em;
      border-top: 1px solid #eee;
      font-weight: normal;

      &[colspan] {
        border: none;
        background: #eee;
        font-weight: bold;
      }

    }
    th {
      //padding-left: 0;
    }
    td:last-child {
      //padding-right: 0;
    }

    thead {
      td, th {
        border: none;
        font-style: italic;
        font-size: .82em;
      }
    }
  }

  [data-name='contact'],
  [data-name='addon'] {
    section, div, h2, p {
      display: inline-block;
      margin: 0;
      vertical-align: baseline;
      font-size: 1em;
    }
    section {
      padding: .165em 0;
      margin: 0 .66em;
    }
    h2 {
      margin: 0;
      padding-right: .33em;

      &:after {
        content: ':';
      }
    }
  }

  [data-name='section'] {
    padding-top: 2em;
    display: table;
    width: 100%;
    border-spacing: 5px;

    label {
      position: relative;
      display: block;
      padding: 1vh 0;
      font-size: 1.3em;
      font-weight: 500;
      cursor: pointer;

      &:before {
        display: block;
        content: attr(data-title);
      }
      &:after {
        display: none;
        width: 1em;
        height: 1em;
        background: red;
        color: #fff;
        content: '\00D7';
        font-size: 1.5em;
        line-height: .85em;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    h2 { display: none; }

    > section {
      display: table-cell;
      overflow: hidden;
      margin: 0 0 .3% .3%;
      background: #eee;
      vertical-align: top;

      > div {
        display: none;
        box-sizing: border-box;
        padding: 0 3vw;
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;

        div, p { text-align: left; }

        h3 {
          display: inline-block;
          margin: 1em .33em 0 0;
          + p {
            display: inline;
          }
        }
      }

      input:checked {
        & + label {
          width: auto;
          height: auto;
          background: #fff;

          & + div {
            display: block;
          }
          &:after {
            //display: block;
          }
        }
      }

      .table {
        display: inline-block;
        vertical-align: top;
        margin: 0 .5em;
      }

    }
  }
}

footer[data-name] {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 .33em;
  font-size: .6em;
}
