/* imports */
@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin,cyrillic);
@import "for";

/* variables */
@transition-time: .33s;

/* css reset */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* mixin */
.vendor(@property, @value) {
  -webkit-@{property}: @value;
  -khtml-@{property}: @value;
  -moz-@{property}: @value;
  -ms-@{property}: @value;
  -o-@{property}: @value;
    @{property}: @value;
}

.transition (@prop: all, @time: 1s, @ease: linear) {
  .vendor(transition, @prop @time @ease);
}

/* style language selector */
@lang_s: 'en', 'ru';
.for(@lang_s);
.-each(@lang) {
  @name: e(@lang);

  [lang=@{name}] nav a[href*=@{name}] {
    background: #fff;
    color: #333;
    border-color: #ccc;
    cursor: default;

    &:hover {
      background: #fff;
    }
  }
}

/* style navigation */
nav {
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;

  a {
    display: table-cell;
    padding: 5px 1em 0;
    border: solid transparent;
    border-width: 0 1px 1px;
    background: #ccc;
    color: #eee;
    text-decoration: none;
    font: bold .8em/1.5 sans-serif;

    &:hover {
      background-color: rgba(0, 0, 0, .25);
    }
  }
}

/* style article section */
article {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  clear: both;
  width: 100%;
  overflow: hidden;
  .transition(all, @transition-time);

  [data-name] {
    text-align: center;
  }

  [data-align="center"] {
    &, div, h1, h2, h3, h4, h5, p {
      text-align: center !important;
    }
  }

  /* style article content */
  h1, h2 {
    margin: 0;
    padding: .33em 0;
  }

  h1 {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
  }
  h2 {
    font-weight: 500;
    text-align: right;
  }
  input {
    position: absolute;
    display: none;
  }

  table {
    border-collapse: collapse;
    text-align: left;
    margin: 0 0 1em;
    border-bottom: 1px solid #eee;

    td, th {
      padding: .33em .66em;
      border-top: 1px solid #eee;
      font-weight: normal;

      &[colspan] {
        border: none;
        background: #eee;
        font-weight: bold;
      }

    }

    thead {
      td, th {
        border: none;
        font-style: italic;
        font-size: .82em;
      }
    }
  }

  [data-name='contact'],
  [data-name='other'] {
    section, div, h2, p {
      display: inline-block;
      margin: 0;
      vertical-align: baseline;
      font-size: 1em;
    }

    @media only screen and (max-device-width: 680px) {
      div {
        font-size: 1.5em;
      }
    }

    section {
      padding: .165em 0;
      margin: 0 .66em;
    }
    h2 {
      margin: 0;
      padding-right: .33em;

      &:after {
        content: ':';
      }
    }
  }

  [data-name='section'] {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    label {
      position: relative;
      display: inline-block;
      font-size: 1.3em;
      font-weight: 500;
      cursor: pointer;

      &:before {
        content: attr(data-title);
        display: inline-block;
        padding: 1vh 1vw;
        border: solid transparent;
        border-width: 0 0 3px 0;
        .transition(border-color, @transition-time / 2);
      }
      &:hover:before {
        border-color: #ddd;
      }
      &:active:before {
        border-color: #bbb;
      }
    }

    h2 {
      display: none;
    }

    h3 {
      margin-bottom: 0;
    }

    > section {
      overflow: hidden;
      margin: 0 0 .3% .3%;
      vertical-align: baseline;

      > div {
        padding: .5em 3vw 0;
        position: absolute;
        overflow: auto;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: #fff;
        .transition(all, @transition-time);

        div, p {
          text-align: left;
        }

        h4 {
          font-size: inherit;
          margin: 1em .33em 0 0;
          + p {
            display: inline;
          }
        }

        @media only screen and (min-device-width: 680px) {
          h4 {
            display: inline-block;
          }
        }

        h2 {
          + section h3,
          + p {
            margin-top: .33em;
          }
        }
      }

      input:checked {
        & + label {
          &:before {
            border-color: #888;
          }
          & + div {
            opacity: 1;
            z-index: 1;
          }
        }
      }

      .table {
        display: inline-block;
        vertical-align: top;
        margin: 0 .5em;
      }
    }
  }
}

#tutorial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: rgba(0, 0, 0, .8);
  opacity: 1;
  z-index: 2;
  font-size: 1.33em;
  .transition(all, @transition-time);

  div {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0;
    transform: scale(1);
    .transition(all, @transition-time);
  }

  &.hide {
    opacity: 0;
    z-index: -1;

    div {
      transform: scale(0);
    }
  }

  section {
    display: table;
    text-align: center;
    margin: 0 auto;
  }

  p {
    margin: 0 auto;
    color: #fff;
    display: table-row;
    span {
      display: table-cell;
      padding: .66em .33em;
      &:last-of-type {
        text-align: left;
        padding-left: .66em;
      }
    }
  }
  button {
    font: 1.15em 'Ubuntu', sans-serif;
    border: 2px solid rgba(0, 0, 0, .8);
    background: #fff;
    padding: .33em .66em;
  }
}

footer[data-name] {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 .33em;
  font-size: .6em;
}

@media only screen and (max-device-width: 680px) {
  h3 {
    font-size: 2em;
  }

  section h4 {
    display: block;
  }

  article [data-name='section'] label {
    font-size: 2em;
  }
}